language: c

os:
  - osx

jobs:
  include:
    - os: osx
      osx_image: xcode11
    - os: osx
      osx_image: xcode8

install:
  - pip install -U pip
  - pip install --no-binary pyenv pyenv
  - export PATH=~/.pyenv/bin:$PATH
  - eval "$(pyenv init -)"
  - pyenv install --skip-existing 3.7.0
  - pyenv global 3.7.0
  - pyenv shell 3.7.0

script:
  - python -V
  - pip -V
  - pip install --upgrade --requirement tests/requirements.txt
  - pytest --capture=no --verbose tests
